<div class="center-align">
	<img src="https://vignette.wikia.nocookie.net/pokemon/images/b/be/Professor_Juniper.png/revision/latest?cb=20160116125611">
	<div class="row">
		<strong>BEM-VINDO AO MUNDO POKÉMON!</strong>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eu ante pretium, pellentesque magna sit amet, feugiat est. Proin sit amet viverra lectus. Duis eu odio ut lacus posuere consectetur. Pellentesque euismod rhoncus elementum. Suspendisse eu libero vel elit viverra efficitur nec ac neque. Pellentesque est est, auctor at volutpat quis, pretium eget quam. Cras varius, risus eget ultrices mattis, ligula magna dapibus dui, sit amet auctor felis odio ut sapien. Duis dui justo, luctus ac placerat eu, vehicula quis nunc. Praesent a lectus gravida, fringilla urna nec, efficitur dolor. Prttitor vulputate. Praesent sapien lorem, efficitur non nisi et, tempor auctor leo.
		</p>
	</div>
	<div class="row">
		<app-botao></app-botao>
	</div>
</div>